<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.meetinthemiddle"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="11"
		android:targetSdkVersion="18" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.C2D_MESSAGE" />	     
	<uses-permission android:name="android.permission.READ_OWNER_DATA" />
	<permission
		android:name="com.example.meetinthemiddle.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />

	<uses-permission android:name="com.example.meetinthemiddle.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>
	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<activity
			android:name="com.example.meetinthemiddle.MainActivity"
			android:label="@string/app_name" >
		</activity>
		<activity
			android:name="com.example.meetinthemiddle.DisplayContactsActivity"
			android:label="@string/title_activity_display_contacts"
			android:parentActivityName="com.example.meetinthemiddle.MainActivity" >
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>

			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable" />
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.example.meetinthemiddle.MainActivity" />
		</activity>
		<activity
			android:name="com.example.meetinthemiddle.DisplayMessagesActivity"
			android:label="@string/title_activity_display_messages"
			android:parentActivityName="com.example.meetinthemiddle.MainActivity" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.example.meetinthemiddle.MainActivity" />
		</activity>
		<activity
			android:name="com.example.meetinthemiddle.DisplayMeetingsActivity"
			android:label="@string/title_activity_display_meetings"
			android:parentActivityName="com.example.meetinthemiddle.MainActivity" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.example.meetinthemiddle.MainActivity" />
		</activity>
		<activity
			android:name="com.example.meetinthemiddle.DisplayProfileActivity"
			android:label="@string/title_activity_display_profile"
			android:parentActivityName="com.example.meetinthemiddle.MainActivity" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.example.meetinthemiddle.MainActivity" />
		</activity>
		<activity
			android:name="com.example.meetinthemiddle.DisplayQuestionsActivity"
			android:label="@string/title_activity_display_questions"
			android:parentActivityName="com.example.meetinthemiddle.MainActivity" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.example.meetinthemiddle.MainActivity" />
		</activity>
		<activity
			android:name="com.example.meetinthemiddle.DisplaySettingsActivity"
			android:label="@string/title_activity_display_settings"
			android:parentActivityName="com.example.meetinthemiddle.MainActivity" >
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.example.meetinthemiddle.MainActivity" />
		</activity>
		<activity
			android:name="com.example.meetinthemiddle.DisplayLoginActivity"
			android:label="@string/title_activity_display_login"
			android:windowSoftInputMode="adjustResize|stateVisible" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.example.meetinthemiddle.DisplayRegistrationActivity"
			android:label="@string/title_activity_registration" >
		</activity>
		<activity
			android:name="com.example.meetinthemiddle.DisplayMeetingFunctionsActivity"
			android:label="@string/title_activity_display_meeting_functions" >
		</activity>

		<meta-data
			android:name="com.facebook.sdk.ApplicationId"
			android:value="@string/app_id" />
		<receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
            		<intent-filter>
                		<action android:name="com.google.android.c2dm.intent.RECEIVE" />
                		<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                		<category android:name="com.example.meetinthemiddle.android.gcmclient" /> 
            		</intent-filter>  
        		</receiver>
        		<service
            		android:name=".GCMIntentService">
        		</service>
	</application>
	<!--
    <application>
		<activity
			android:name=".DisplayContactsActivity"
			android:label="@string/title_activity_display_contacts" >
		</activity>
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />
	</application>
	-->

</manifest>